<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pranaybansal.contentproviderexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddDataActivity"/>
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <!--name contains the full path of your content provider ie., both package name followed by class name-->
        <!--authority contains the package name-->
        <provider
            android:authorities="com.example.pranaybansal.contentproviderexample"
            android:name="com.example.pranaybansal.contentproviderexample.data.EmpContentProvider"
            android:exported="false"/>
    </application>

</manifest>